# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/.vs/RenderEngine/v15/.suo
src/.vs/RenderEngine/v15/Browse.VC.db
src/.vs/RenderEngine/v15/ipch/AutoPCH/224a5d5585ed12c0/MAIN.ipch
src/Debug/RenderEngine.ilk
src/Debug/RenderEngine.pdb
src/OpenGlCourseApp/Debug/OpenGlCourseApp.log
src/OpenGlCourseApp/Debug/RenderEngine.tlog/CL.command.1.tlog
src/OpenGlCourseApp/Debug/RenderEngine.tlog/CL.read.1.tlog
src/OpenGlCourseApp/Debug/RenderEngine.tlog/link.command.1.tlog
src/OpenGlCourseApp/Debug/RenderEngine.tlog/link.read.1.tlog
src/OpenGlCourseApp/Debug/RenderEngine.tlog/link.write.1.tlog
src/OpenGlCourseApp/Debug/RenderEngine.tlog/RenderEngine.lastbuildstate
src/OpenGlCourseApp/Debug/vc141.idb
src/OpenGlCourseApp/Debug/vc141.pdb
src/OpenGlCourseApp/x64/Debug/OpenGlCourseApp.log
src/OpenGlCourseApp/x64/Debug/RenderEngine.tlog/CL.command.1.tlog
src/OpenGlCourseApp/x64/Debug/RenderEngine.tlog/CL.read.1.tlog
src/OpenGlCourseApp/x64/Debug/RenderEngine.tlog/CL.write.1.tlog
src/OpenGlCourseApp/x64/Debug/RenderEngine.tlog/link-cvtres.read.1.tlog
src/OpenGlCourseApp/x64/Debug/RenderEngine.tlog/link-cvtres.write.1.tlog
src/OpenGlCourseApp/x64/Debug/RenderEngine.tlog/link-rc.read.1.tlog
src/OpenGlCourseApp/x64/Debug/RenderEngine.tlog/link-rc.write.1.tlog
src/OpenGlCourseApp/x64/Debug/RenderEngine.tlog/link.command.1.tlog
src/OpenGlCourseApp/x64/Debug/RenderEngine.tlog/link.read.1.tlog
src/OpenGlCourseApp/x64/Debug/RenderEngine.tlog/link.write.1.tlog
src/OpenGlCourseApp/x64/Debug/RenderEngine.tlog/RenderEngine.lastbuildstate
src/OpenGlCourseApp/x64/Debug/RenderEngine.tlog/unsuccessfulbuild
src/OpenGlCourseApp/x64/Debug/vc141.idb
src/OpenGlCourseApp/x64/Debug/vc141.pdb
/src/.vs/RenderEngine/v15
